    p{
        font-family: arial;
        margin-top: 0;
        margin-bottom: 0;
    }

    .shop{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
    }

    .sales{
        color: red;
        margin-bottom: 15px;
        text-align: center;
        font-style: italic;    
    }

    .learn{
        color: rgb(72, 142, 246);
        font-size: 13px;
        margin-bottom: 35px;
        text-align: center;
        cursor: pointer;
    }

    .fig{
        font-size: 23px;
        margin-bottom: 10px;
    }

    .usd{
        color: gray;
        font-size: 13px;
    }

    .today{
        color: green;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .after{
        color: gray;
        font-size: 14px;
        margin-bottom: 35px;
    }

    .num{
        color: red;
    }

    .dev{
        font-size:15px;
        margin-bottom: 35px;
    }

    .chp{
        color: rgb(72, 142, 246);
        cursor: pointer;
        transition: box-shadow 0.15s;
    }

    .chp:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
        background-color: aliceblue;
    }
    button{
        background-color: green;
        color:white;
        font-size: 12px;
        border: none;
        border-radius: 4px;
        padding-top: 7px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }