.header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
}

.leftsec{
    display: flex;
    align-items: center;
}

.hamicon{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.utubeicon{
    height: 20px;
}

.middlesec{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.searchbarinput{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border:1px solid rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.searchbarinput::placeholder{
    font-size: 13px;
}
.searchbutton{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    margin-left: -1px;
    margin-right: 10px;
}

.searchbutton, .vsearchbutton, .uploadcontainer, .appscontainer, .notscontainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbutton .toolotip, .vsearchbutton .toolotip, .uploadcontainer .toolotip, .appscontainer .toolotip, .notscontainer .toolotip{
    position: absolute;
    background-color: lightblue;
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.searchbutton:hover .toolotip, .vsearchbutton:hover .toolotip, .uploadcontainer:hover .toolotip, .appscontainer:hover .toolotip, .notscontainer:hover .toolotip{
    opacity: 1;
}

.sicon{
    height: 25px;
}

.vsearchbutton{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(247, 247, 247);
}

.vsearchicon{
    height: 24px;
}

.rightsec{
   width: 180px; 
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-shrink: 0;
}

.uploadicon{
    height: 24px;
}

.appsicon{
    height: 24px;
}

.notscontainer{
    position: relative;
}

.notsicon{
    height: 24px;
}

.numbercount{
    position: absolute;
    background-color: rgb(204, 0, 0);
    color: white;
    top: -2px;
    right: -5px;
    font-size: 10.5px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.dp{
    height: 32px;
    border-radius: 16px;
    margin-right: 20px;
}