            .thumb{
                width: 100%;
            }

            .vidtitle{
                margin-top: 0;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 10spx;
            }

            .video-info-grid{
                display: grid;
                grid-template-columns: 50px 1fr;
            }
            
            .dp{
                width: 36px;
                border-radius: 50px;
            }

            .thumbrow{
                margin-bottom: 8px;
                position: relative;
            }

            .aut, .views{
                font-size: 12px;
                color: rgb(96, 96, 96);
            }

            .aut{
                margin-bottom: 4px;
            }

            .fullgrid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 40px;
            }

            @media(max-width: 750px) {
                .fullgrid{
                    grid-template-columns: 1fr 1fr;
                }
            }

            @media(max-width: 751px) and (min-width: 999px) {
                .fullgrid{
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }

            @media( min-width: 1000px) {
                .fullgrid{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }

            .vidtime{
                position: absolute;
                font-size: 12px;
                font-weight: 500;
                background-color: black;
                color: white;
                padding: 4px;
                border-radius: 2px;
                right: 5px;
                bottom: 8px;
            }